# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Node
node_modules/
npm-debug.log*

# Go
*.exe
*.test

# Docker / env
.env
.env.*
!/.env.example

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Ansible
*.retry

# Local data
data/
tmp/
